<h3>Editing Experiment Task</h3>
<br/>

<%= render 'form', experiment_task: @experiment_task %>

<%= link_to 'Show', @experiment_task, :class => "btn btn-default" %>
<%= link_to 'Back', @experiment_task.experiment, :class => "btn btn-default" %>
