<style>
  .click-circle {
      fill: red;
  }
</style>

<script>
  StopWatch = function() {
    this.StartMilliseconds = 0;
    this.ElapsedMilliseconds = 0;
  }

  StopWatch.prototype.Start = function() {
    this.StartMilliseconds = new Date().getTime();
  }

  StopWatch.prototype.Stop = function() {
    this.ElapsedMilliseconds = new Date().getTime() - this.StartMilliseconds;
  }

  var numberOfClicksAllowed = <%= @task.no_of_clicks %>;
  var numberOfClicks = 0;
  var taskActive = false;

  // store results for the task
  var results = {};

  var s1 = new StopWatch();

  function startTask() {
    d3.selectAll(".click-circle").remove();
    taskActive = true;
    document.getElementById("results").innerHTML = "";
    document.getElementById("taskButton").disabled = true;
    document.getElementById("taskButton").innerHTML = "Task active";
    document.getElementById("taskDescription").innerHTML = "<%= @task.description %>";
    s1.Start();
  }

  function recordResult(coordinates) {
    s1.Stop();
    var time = s1.ElapsedMilliseconds;

    var singleResult = {
      "time": time,
      "coordinates": coordinates
    }

    results[numberOfClicks] = singleResult;

    numberOfClicks += 1;
    if (numberOfClicks === numberOfClicksAllowed) {
      stopTask();
    }
  }

  function stopTask() {
    taskActive = false;
    displayResults(results);
    results = {};
    numberOfClicks = 0;
    document.getElementById("taskButton").disabled = false;
    document.getElementById("taskButton").innerHTML = "Start Task"
    document.getElementById("taskDescription").innerHTML = "<br/>";
  }

  function displayResults(results) {
      var results_html = "<table class='table'><tr>" +
      "<td><strong>No.</strong></td>" +
      "<td><strong>Coordinates (pixels)</strong></td>" +
      "<td><strong>Time (ms)</strong></td>" +
      "</tr>"
      for (var key in results) {
        var results_row = "<tr>" +
        "<td>" + key + "</td>" +
        "<td>(" + results[key].coordinates[0] + ", " + results[key].coordinates[1] + ")</td>" +
        "<td>" + results[key].time + "</td></tr>";
        results_html += results_row;
      }
      document.getElementById("results").innerHTML = results_html + "</table>";
  }

  function drawCircle(x, y, size) {
    var circle = svg.append("circle")
        .attr('class', 'click-circle')
        .attr("cx", x)
        .attr("cy", y)
        .attr("r", size);
  }

  window.onload = function() {
    var selected_svg = d3.select("svg");
    var h = selected_svg.attr("height");
    var w = selected_svg.attr("width");

    selected_svg.append("rect")
       			.attr("x", 0)
       			.attr("y", 0)
       			.attr("height", h)
       			.attr("width", w)
       			.style("stroke", "black")
       			.style("fill", "none")
       			.style("stroke-width", 1);

    selected_svg.on("click", function() {
        if (taskActive) {
          recordResult(d3.mouse(this));
          drawCircle(d3.mouse(this)[0], d3.mouse(this)[1], 5);
        }
    });
  }
</script>

<button id="taskButton" onclick="startTask()" class="btn btn-primary">Start Task</button>
</br></br>
<div id="results"></div>
