<div class="panel panel-default">
  <div class="panel-heading" id="question">Preview Task</div>
  <div class="panel-body">
    <div id="taskDescription">Click <i>Start Task</i> below to reveal the task</div>
  </div>
</div>

<div class="visualisation">
  <%= @visualisation.html.html_safe %>
</div>

<br/>

<% if @task.task_type == "Click" %>
  <%= render 'tasks/partials/preview_click_task' %>
<% else %>
  <%= render 'tasks/partials/preview_question_task' %>
<% end %>
