<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr>
        <td><strong>Answer</strong></td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @result["answer"] %></td>
      </tr>
    </tbody>
  </table>
</div>
