<h3>Editing Experiment</h3>
<br/>

<%= render 'experiments/partials/form', experiment: @experiment %>

<%= link_to 'Show', @experiment, :class => 'btn btn-default' %>
<%= link_to 'Back', experiments_path, :class => 'btn btn-default' %>
