<div class="panel panel-default">
  <div class="panel-heading" id="question">Question <%= @position %></div>
  <div class="panel-body">
    <div id="taskDescription">Click <i>Start Task</i> below to reveal the task</div>
  </div>
</div>

<% if @task.task_type == "Click" %>
  <%= render 'experiments/partials/preview/preview_click_task' %>
<% else %>
  <%= render 'experiments/partials/preview/preview_question_task' %>
<% end %>
