<div class="panel panel-default">
  <div class="panel-body">
    <%= raw @experiment.intro_html %>
  </div>
</div>

<%= link_to "Start Experiment", experiment_create_and_start_instance_path(@experiment.id), class: "btn btn-primary btn-white-text" %>
