<script>
  document.getElementById("taskDescription").innerHTML = "<%= @task.description %>";

  function init() {
    var selected_svg = d3.select("svg");
    var h = selected_svg.attr("height");
    var w = selected_svg.attr("width");

    selected_svg.append("rect")
       			.attr("x", 0)
       			.attr("y", 0)
       			.attr("height", h)
       			.attr("width", w)
       			.style("stroke", "black")
       			.style("fill", "none")
       			.style("stroke-width", 1);
  }

  loadVisualisation(init);
</script>

<textarea id="answer" rows="4" cols="50" placeholder="Write your answer here...">
</textarea>
<br/><br/>

<div id="json_submit">
  <% if (@position.to_i + 1) <= @experiment_tasks.length  %>
    <%= button_to "Submit Task", experiment_preview_path(experiment_id: @experiment.id , position: (@position.to_i + 1)), method: :get, class: "btn btn-success" %>
  <% else %>
    <%= button_to "Finish Preview", @experiment, method: :get, class: "btn btn-success" %>
  <% end %>
</div>

<br/><br/>
