<div class="buttons-container">
  <button id="taskButton" class="btn btn-primary" onclick="startTask()" disabled>Start Task</button>
  <span class="button-inline" id="json_submit">
    <%= button_to "Finish Task Preview", @task, method: :get, class: "btn btn-success" %>
  </span>
</div>

<div class="visualisation">
  <%= @visualisation.html.html_safe %>
</div>

<input id="request_result" hidden></input>

<div id="results"></div>

<%= render 'shared_partials/click_task' %>
