<div class="buttons-container">
  <button id="taskButton" class="btn btn-primary" onclick="startTask()" disabled>Start Task</button>
  <span class="button-inline" id="json_submit">
    <% if (@position.to_i + 1) <= @experiment_tasks.length  %>
      <%= button_to "Submit Task", experiment_preview_path(experiment_id: @experiment.id , position: (@position.to_i + 1)), method: :get, class: "btn btn-success" %>
    <% else %>
      <%= button_to "Finish Preview", @experiment, method: :get, class: "btn btn-success" %>
    <% end %>
  </span>
</div>

<div class="visualisation">
  <%= @visualisation.html.html_safe %>
</div>

<input id="request_result" hidden></input>

<div id="results"></div>

<%= render 'shared_partials/click_task' %>
