<div class="visualisation">
  <%= @visualisation.html.html_safe %>
</div>

<textarea id="answer" rows="4" cols="50" placeholder="Write your answer here...">
</textarea>
<br/><br/>

<div id="json_submit">
  <% if @experiment_tasks.length != @position.to_i %>
    <input type="button" onclick="location.href='<%= experiment_preview_url(:experiment_id => @experiment.id, :position => (@position.to_i + 1)) %>';" value="Next Task" class="btn btn-success"/>
  <% else %>
    <input type="button" onclick="location.href='<%= experiment_url(@experiment) %>';" value="Finish Preview" class="btn btn-success"/>
  <% end %>
</div>

<br/><br/>

<script>
  document.getElementById("taskDescription").innerHTML = "<%= @task.description %>";

  function init() {
    var selected_svg = d3.select("svg");
    var h = selected_svg.attr("height");
    var w = selected_svg.attr("width");

    selected_svg.append("rect")
       			.attr("x", 0)
       			.attr("y", 0)
       			.attr("height", h)
       			.attr("width", w)
       			.style("stroke", "black")
       			.style("fill", "none")
       			.style("stroke-width", 1);
  }

  loadVisualisation(init);
</script>
