<div class="visualisation">
  <%= @visualisation.html.html_safe %>
</div>

<textarea id="answer" rows="4" cols="50" placeholder="Write your answer here...">
</textarea>
<br/><br/>

<div id="json_submit">
  <% if @experiment_tasks.length != @position.to_i %>
    <input type="button" onclick="location.href='<%= experiment_preview_url(:experiment_id => @experiment.id, :position => (@position.to_i + 1)) %>';" value="Next Task" class="btn btn-success"/>
  <% else %>
    <input type="button" onclick="location.href='<%= experiment_url(@experiment) %>';" value="Finish Preview" class="btn btn-success"/>
  <% end %>
</div>

<br/><br/>

<%= render 'shared_partials/question_task' %>
