<h1>Editing Visualisation</h1>

<%= render 'form', visualisation: @visualisation %>

<%= link_to 'Show', @visualisation, :class => "btn btn-default" %>
<%= link_to 'Back', visualisations_path, :class => "btn btn-default" %>
