<h3>Visualisations</h3>

<table>
  <tr>
    <th style="text-align: left;">Title</th>
  </tr>

  <% @visualisations.each do |visualisation| %>
    <tr>
      <td><%= visualisation.title %></td>
      <!-- override turbolinks -->
      <td><%= link_to 'Show', visualisation_path(visualisation), method: :get %></td>
      <td><%= link_to 'Recreate', visualisation_recreate_path(visualisation, :stage => 'filled'), method: :get %></td>
    </tr>
  <% end %>
</table>
