<h1>New Visualisation</h1>

<%= form_for :visualisation, url: visualisations_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
