<p>
  <strong>Title:</strong>
  <%= @visualisation.title %>
</p>

<p>
  <%= @visualisation.html.html_safe %>
</p>
<div id="map"></div>

<%= link_to 'Back', visualisations_path, :class => "btn btn-default" %>
