<p>
  <strong>Title:</strong>
  <%= @visualisation.title %>
</p>

<style>
  .border {
    stroke: #777;
  }
</style>

<div id="map"></div>

<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/topojson.v2.min.js"></script>

<script>
  var syria = "http://crisis.net/projects/syria-tracker/cities.json";

  var width = 600, height = 400;
  var svg = d3.select("#map").append("svg")
    .attr("width", width)
    .attr("height", height);

  var center = [38.996815, 34.802075];
  var projection = d3.geo.conicConformal()
    .center(center)
    .clipAngle(180)
    .scale(3000)
    .translate([width / 2, height / 2])
    .precision(.1);

  var path = d3.geo.path().projection(projection);

  d3.json(syria, function(err, data) {
    $.each(data.features, function(i, feature) {
      svg.append("path")
        .datum(feature.geometry)
        .attr("class", "border")
        .attr("d", path);
      // console.log(feature.properties.NAME_EN);
    });
  });
</script>
