// Place all the styles related to the Visualisations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-white-text,
.btn-white-text:visited {
  color: white;
}

.visualisation-image {
  border: 1px solid black;
}

.viz-logo-small {
  font-size: 0.8em;
}

.large-figure {
  font-size: 5em;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.red-background-text {
  color: red;
  background-color: black;
  padding: 2px;
}

.white-background-text {
  color: white;
  background-color: black;
  padding: 2px;
}
